<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.libsys.mapper.BookInfoMapper">
  <resultMap id="BaseResultMap" type="com.gdufe.libsys.entity.BookInfo">
    <id column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="total_stock" jdbcType="INTEGER" property="totalStock" />
    <result column="present_stock" jdbcType="INTEGER" property="presentStock" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="book_location" jdbcType="INTEGER" property="bookLocation" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="enter_time" jdbcType="TIMESTAMP" property="enterTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    isbn, book_name, author, publisher, total_stock, present_stock, status, book_location,
    category_id, enter_time, update_time
  </sql>
  <!-- 通过传入参数查询图书列表 -->
  <select id="selectByParams" parameterType="com.gdufe.libsys.entity.BookInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from book_info
    <where>

      <if test="null !=isbn and isbn !=''">
        and isbn like concat('%',#{isbn},'%')
      </if>
      <if test="null !=bookName and bookName !=''">
        and book_name like concat('%',#{bookName},'%')
      </if>
      <if test="null !=author and author !=''">
        and author like concat('%',#{author},'%')
      </if>

    </where>
  </select>
</mapper>