<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufe.libsys.mapper.BorrowMapper">
  <resultMap id="BaseResultMap" type="com.gdufe.libsys.entity.Borrow">
    <id column="borrow_id" jdbcType="INTEGER" property="borrowId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="reader_id" jdbcType="VARCHAR" property="readerId" />
    <result column="borrow_time" jdbcType="TIMESTAMP" property="borrowTime" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="fine" jdbcType="INTEGER" property="fine" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="renew" jdbcType="INTEGER" property="renew" />
  </resultMap>
  <sql id="Base_Column_List">
    borrow_id, book_id, reader_id, borrow_time, return_time, operator, fine, status, 
    renew
  </sql>
  <!-- 通过传入参数查询已借书籍 -->
  <select id="selectByParams" parameterType="com.gdufe.libsys.entity.Borrow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from borrow
    <where>
      <if test="null != bookId and bookId != ''">
        and book_id like concat('%',#{bookId},'%')
      </if>
      <if test="null != readerId and readerId != ''">
        and reader_id like concat('%',#{readerId},'%')
      </if>
      <if test="null != status and status != ''">
        and status = #{status}
      </if>
      <if test="null != operator and operator !=''">
        and operator = #{operator}
      </if>
      <if test="0 == fine">
        and fine = 0
      </if>
      <if test="1 == fine">
        and fine >= 0
      </if>
    </where>
  </select>
</mapper>